<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/branch.css">
    <script src="../../static/js/branch.js"></script>
    <title>查看个人成绩</title>
</head>
<body>
    <div class="con">
        <select id="type" onchange="query(this.value)">
            <option value="project">科目</option>
            <option value="pass">及格科目</option>
            <option value="fail">不及格科目</option>
        </select>
        <div class="input-append">
            <input class="span2" id="inputer" type="text">
            <button class="btn" id="btn" type="button">检索</button>
        </div>
        <table class="tab table table-bordered table-hover">
            <tr>
                <th style="width: 90px">姓名</th>
                <th style="width: 90px">工号</th>
                <th style="width: 90px">性别</th>
                <th style="width: 151px">出生年月</th>
                <th style="width: 90px">学科</th>
            </tr>
            <tbody>
            {% if results %}
            {% for item in results %}
            <tr>
                <td style="width: 90px">{{ item.name }}</td>
                <td style="width: 90px">{{ item.userid }}</td>
                <td style="width: 90px">{{ item.sex }}</td>
                <td style="width: 151px">{{ item.birthday }}</td>
                <td style="width: 90px">{{ item.subject }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">未搜索到结果</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        {{ pag.strs|safe }}
    </div>
</body>
<script>
    search("#btn","#type","#inputer","/personal/perEstimate");
    function query(value) {
        console.log(value)
    }
</script>
</html>