<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/branch.css">
    <title>专业方向管理</title>
</head>
<style>
    .tab{
        width: 800px;
    }
    .but{
        margin: 0 5px;
    }
</style>
<body>
    <div class="con">
        <table class="tab table table-bordered table-hover">
            <tr>
                <th style="width: 40px">ID</th>
                <th style="width: 90px">专业名称</th>
                <th style="width: 140px">操作</th>
            </tr>
            <tbody id="tbody">
            {% if data %}
            {% for item in data %}
            <tr>
                <td style="width: 40px">{{ item.major_id }}</td>
                <td style="width: 90px">{{ item.major_name }}</td>
                <td style="text-align: center">
                    <button class="but updcon btn btn-warning" attrid="{{ item.userid }}">修改名称</button>
                    <button class="but delcon btn btn-danger" attrid="{{ item.userid }}">移除专业</button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">未搜索到结果</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        {{ pag.strs|safe }}
        <br>
        <div class="input-append" style="padding-top: 20px">
            <form action="/systemSet/addMajor" method="post">
                <input type="text" id="addmajor" name="major_name" placeholder="专业名称">
                <button class="btn" type="submit">新增专业</button>
            </form>>
        </div>
    </div>
</body>
