<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/branch.css">
    <script src="../../static/js/branch.js"></script>
    <title>管理员工具</title>
</head>
<style>
    .tab{
        width: 800px;
    }
    .but{
        margin: 0 5px;
    }
</style>
<body>
    <div class="con">
        <select id="type">
            <option value="userid">账号</option>
            <option value="name">姓名</option>
        </select>
        <div class="input-append">
            <input class="span2" id="inputer" type="text">
            <button class="btn" id="btn" type="button">检索</button>
        </div><br>
        <a class="but addcon btn btn-success" style="margin-bottom: 8px" href="/systemSet/adduser">添加用户</a>
        <a class="but addcon btn btn-success" style="margin-bottom: 8px" href="/systemSet/addxlsx">批量导入</a>
        <table class="tab table table-bordered table-hover">
            <tr>
                <th style="width: 40px">序号</th>
                <th style="width: 90px">账号</th>
                <th style="width: 90px">姓名</th>
                <th style="width: 90px">权限</th>
                <th style="width: 140px">操作</th>
            </tr>
            <tbody id="tbody">
            {% if data %}
            {% for item in data %}
            <tr>
                <td style="width: 40px">{{ loop.index }}</td>
                <td style="width: 90px">{{ item.userid }}</td>
                <td style="width: 90px">{{ item.name }}</td>
                <td style="width: 90px">{{ item.role }}</td>
                <td>
                    <button class="but updcon btn btn-warning" attrid="{{ item.userid }}">重置密码</button>
                    {% if item.role != "管理员" %}
                    <button class="but delcon btn btn-danger" attrid="{{ item.userid }}">删除用户</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">未搜索到结果</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        {{ pag.strs|safe }}
    </div>
</body>
<script>
    search("#btn","#type","#inputer","/systemSet/tool");
    let updcon = document.querySelectorAll(".updcon");
    for(let i=0;i<updcon.length;i++){
        updcon[i].onclick=function () {
            let userid = this.getAttribute("attrid");
            function successReset(){
                alert("密码重置成功")
            }
            ajaxget("/systemSet/resetPssword/"+userid,"success",successReset,true);
        }
    }
    let tbody= document.querySelector("#tbody");
    let delcon = document.querySelectorAll(".delcon");
    for(let i=0;i<delcon.length;i++){
        delcon[i].onclick=function () {
            let userid=this.getAttribute("attrid");
            function successdel(){
                tbody.removeChild(delcon[i].parentNode.parentNode);
                alert("删除用户成功");
            }
            ajaxget("/systemSet/deleteUser/"+userid,"success",successdel,true);
        }
    }
</script>
</html>