<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<style>
    body{
        width: 1200px;
        height: 800px;
        margin: auto;
    }
    .twarning{
        width: 100%;
        height: 50px;
        padding-top: 150px;
    }
    .warnbox{
        height: 50px;
        margin: auto;
        color: #AEC9D4;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .tcontent{
        width: 100%;
        height: 440px;
    }
    .imgbox{
        width: 990px;
        height: 440px;
        margin: auto;
    }
</style>
<body>
    <div class="twarning">
        <div class="warnbox">404</div>
    </div>
    <div class="tcontent">
        <div class="imgbox"><img src="../static/img/error.jpg" alt="" width="990" height="440"></div>
    </div>
</body>
</html>