<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconfont.css">
    <script type="text/javascript" src="../static/js/jquery-1.11.1.js"></script>
    <script src="../static/js/main.js"></script>
    <title>index</title>
</head>
<body>
    <!--左侧导航-->
        <div id="left" class="skin">
            <div id="logoAndInfo" class="darkerSkin">
                <div class="logo"><img src="../static/img/logo.jpg" alt=""></div>
                <div class="info">山西农业大学教务管理系统</div>
            </div>
            <div class="navs darkerSkin">
                <div class="lmenu">
                    <!--综合查询-->
                    <ul>
                        <li aid="1">
                            <span><i class="iconfont icon-jiaoshi1"></i>&nbsp综合查询</span>
                            <ul style="display: none;">
                                <a href="/personal/info" target="screen"><li aid="1-1">查看个人信息</li></a>
                                {% if role == "student" %}
                                <a href="/personal/score" target="screen"><li aid="1-2">查看考试成绩</li></a>
                                {% endif %}
                                {% if role == "teacher" %}
                                <a href="/personal/estimate" target="screen"><li aid="1-3">查看教学评估</li></a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

                    <!--课表管理-->
                    <ul>
                        <li aid="2">
                            <span><i class="iconfont icon-shijuanindex"></i>
                                {% if role in ["teacher","student"] %}
                                &nbsp课表查询
                                {% endif %}
                                {% if role == "admin" %}
                                &nbsp课表管理
                                {% endif %}
                            </span>
                            <ul style="display: none;">
                                <a href="/timeTable/seeclass" target="screen"><li aid="2-1">查看班级课表</li></a>
                                {% if role in ["teacher","admin"] %}
                                <a href="/timeTable/seeperson" target="screen"><li aid="2-2">查看我的课表</li></a>
                                {% endif %}
                                {% if role == "admin" %}
                                <a href="/timeTable/manage" target="screen"><li aid="2-3">管理课表</li></a>
                                <a href="/timeTable/build" target="screen"><li aid="2-4">新建课表</li></a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>

                    {% if role in ["admin","teacher"] %}
                    <!--信息管理-->
                    <ul>
                        <li aid="3">
                            <span><i class="iconfont icon-wenjian"></i>
                                {% if role == "teacher" %}
                                &nbsp信息查询
                                {% endif %}
                                {% if role == "admin" %}
                                &nbsp信息管理
                                {% endif %}
                            </span>
                            <ul style="display: none;">
                                {% if role == "teacher" %}
                                <a href="" target="screen"><li aid="3-1">个人信息查询</li></a>
                                <a href="" target="screen"><li aid="3-2">班级信息查询</li></a>
                                <a href="" target="screen"><li aid="3-3">考试成绩查询</li></a>
                                <a href="" target="screen"><li aid="3-4">教学评估查询</li></a>
                                {% endif %}
                                {% if role == "admin" %}
                                <a href="" target="screen"><li aid="3-1">个人信息管理</li></a>
                                <a href="" target="screen"><li aid="3-2">班级信息管理</li></a>
                                <a href="" target="screen"><li aid="3-3">考试成绩管理</li></a>
                                <a href="" target="screen"><li aid="3-4">教学评估管理</li></a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}

                    {% if role in ["admin","teacher"] %}
                    <!--成绩管理-->
                    <ul>
                        <li aid="4">
                            <span><i class="iconfont icon-jiaoshi"></i>&nbsp成绩管理</span>
                            <ul style="display: none;">
                                <a href="" target="screen"><li aid="4-1">查看成绩</li></a>
                                {% if role == "teacher" %}
                                <a href="" target="screen"><li aid="4-2">上传成绩</li></a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}

                    {% if role in ["admin","student"] %}
                    <!--教学评估-->
                    <ul>
                        <li aid="5">
                            <span><i class="iconfont icon-banji"></i>&nbsp教学评估</span>
                            <ul style="display: none;">
                                {% if role == "student" %}
                                <a href="" target="screen"><li aid="5-1">教学评估</li></a>
                                {% endif %}
                                {% if role == "admin" %}
                                <a href="" target="screen"><li aid="5-2">开启/关闭教学评估</li></a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}

                    {% if role == "admin" %}
                    <!--系统设置-->
                    <ul>
                        <li aid="6">
                            <span><i class="iconfont icon-chilun"></i>&nbsp系统设置</span>
                            <ul style="display: none;">
                                <a href="/systemSet/addNotice" target="screen"><li aid="6-1">修改通知</li></a>
                                <a href="/systemSet/majorSet" target="screen"><li aid="6-2">专业方向管理</li></a>
                                <a href="/systemSet/tool" target="screen"><li aid="6-4">管理员工具</li></a>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    <!--应用主体-->
    <div id="main">
        <!--顶部菜单-->
        <div id="topMenu">
            <div class="loginInfo">
                <span class="myinfo">今天是 <span id="time">年月日</span></span>
                <span class="myinfo">，欢迎 <a href="/myinfo" id="name" target="screen">{{data.name}}</a></span>
            </div>
            <div class="skin" style="height: 20px;padding: 20px 30px;float: right;"></div>
            <div class="menus">
                <a href="/message" target="screen"><span class="mymenu" id="menu1"><i class="iconfont icon-xiaoxi"></i>&nbsp我的消息</span></a>
                <span class="mymenu" id="menu2" style="position: relative">
                    <i class="iconfont icon-xiaoxi1"></i>&nbsp我的设置
                    <div class="mymenubar" id="mymenubar2">
                        <div class="mymenubarCon" style="cursor: auto">皮肤</div>
                        <div class="segmentingLine" style="width: 90px;height: 1px;margin: auto;background-color: #999c9e;"></div>
                        <div class="mymenubarCon" id="skin1" style="color: #2F4050">沉静蓝(默认)</div>
                        <div class="mymenubarCon" id="skin2" style="color: #327732">自然绿</div>
                        <div class="mymenubarCon" id="skin3" style="color: #9c6728">活力橙</div>
                        <div class="mymenubarCon" id="skin4" style="color: #6c3a88">魅惑紫</div>
                        <div class="mymenubarCon" id="skin5" style="color: #999C9E">简约灰</div>
                    </div>
                </span>
                <span class="mymenu" id="menu3" onclick="location.href='/logout'"><i class="iconfont icon-dengchu"></i>&nbsp退出登录</span>
            </div>
        </div>
        <!--通知栏-->
        <div class="notice">
            <div id="blink">通知</div>
            <p id="mynotice" style="height:50px;overflow-y:scroll; overflow-x:hidden;">({{data.day}}){{data.notice}}</p>
        </div>
        <div class="noticeBottom skin"></div>
        <!--工作区-->
        <div style="width: 1200px;height: 800px;margin-left: 250px;margin-top: 10px">
            <iframe src="" frameborder="0" name="screen" id="screen"></iframe>
        </div>
    </div>
</body>
</html>