<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>个人设置</title>
</head>
<style>
    body{
        width: 1200px;
        height: 800px;
        margin: auto;
    }
    .con{
        width: 500px;
        margin: auto;
        padding-top: 200px;
    }
</style>
<body>
    <div class="con">
        <form class="form-horizontal" action="/setPassword" method="post">
            <div class="control-group">
                <label class="control-label" for="password" id="lpassword">旧密码</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="请输入旧密码">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword1" id="linputPassword1">新密码</label>
                <div class="controls">
                    <input type="password" id="inputPassword1" name="inputPassword1" placeholder="输入新密码">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword2" id="linputPassword2">再次输入新密码</label>
                <div class="controls">
                    <input type="password" id="inputPassword2" name="inputPassword2" placeholder="输入新密码">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success" id="confirm" disabled="disabled" value="确认">
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    let confirm = document.querySelector("#confirm");
    let inputPassword1 = document.querySelector("#inputPassword1");
    let inputPassword2 = document.querySelector("#inputPassword2");
    function isAlpNumNotEmpty(value) {
        var regex = new RegExp("^([a-zA-Z]|[0-9]|[_]){1,20}$");
        return regex.test(value);
    }
    function NewisAlpNumNotEmpty(value) {
        var regex = new RegExp("^([a-zA-Z]|[0-9]|[_]){6,20}$");
        return regex.test(value);
    }
    document.querySelector(".con").onkeyup=function () {
        if (isAlpNumNotEmpty(password.value)&&NewisAlpNumNotEmpty(inputPassword1.value)&&inputPassword2.value==inputPassword1.value&&password.value!=inputPassword1.value){
            confirm.removeAttribute("disabled")
        }else{
            confirm.setAttribute("disabled","disabled")
        }
    }
    password.onblur=function () {
        let password = document.querySelector("#password");
        if(isAlpNumNotEmpty(password.value)){
            lpassword.style.color="rgb(51,51,51)"
            lpassword.innerText="旧密码"
        }else{
            lpassword.style.color="red"
            lpassword.innerText="旧密码(1-20位由数字字母下划线组成)"
        }
    }
    inputPassword1.onblur=function () {
        let linputPassword1 = document.querySelector("#linputPassword1");
        if(NewisAlpNumNotEmpty(inputPassword1.value)){
            linputPassword1.style.color="rgb(51,51,51)";
            linputPassword1.innerText="新密码"
        }else{
            linputPassword1.style.color="red";
            linputPassword1.innerText="新密码(6-20位由数字字母下划线组成)"
        }
    }
    inputPassword2.onblur=function () {
        let linputPassword2 = document.querySelector("#linputPassword2");
        if(inputPassword2.value==inputPassword1.value){
            linputPassword2.style.color="rgb(51,51,51)";
            linputPassword2.innerText="再次输入新密码"
        }else{
            linputPassword2.style.color="red";
            linputPassword2.innerText="再次输入新密码"
        }
    }
</script>
</html>
