<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>操作成功</title>
</head>
<style>
    body{
        width: 1200px;
        height: 800px;
        margin: auto;
    }
    .con{
        padding-top: 150px;
        margin: auto;
        text-align: center;
        font-size: 30px;
    }
</style>
<body>
    <div class="con"><p class="text-success">操作成功</p></div>
    <div class="con" style="width: 140px;">
        <a class="btn btn-success" style="float: left" href="about:blank">确认</a>
        <a class="btn btn-info" style="float: right" href="javascript:history.back(-1);">返回</a>
    </div>
</body>
</html>